<div class="card mb-3">
  <h2 class="card-header h4">
    Upload Image #<%= upload_image.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Image</dt>
      <dd>
        <%= cl_image_tag @upload_image.image, class: "img-fluid" %>
      </dd>

      <dt>Topstyle</dt>
      <dd><%= upload_image.topstyle %></dd>

      <dt>Topcolor</dt>
      <dd><%= upload_image.topcolor %></dd>

      <dt>Bottomstyle</dt>
      <dd><%= upload_image.bottomstyle %></dd>

      <dt>Bottomcolor</dt>
      <dd><%= upload_image.bottomcolor %></dd>

      <dt>Shoestyle</dt>
      <dd><%= upload_image.shoestyle %></dd>

      <dt>Shoecolor</dt>
      <dd><%= upload_image.shoecolor %></dd>

      <dt>Vibe</dt>
      <dd><%= upload_image.vibe %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back upload_image, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_upload_image_url(upload_image), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to upload_image, method: :delete, data: { confirm: "Do you really want to delete this upload_image?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(upload_image.updated_at) %> ago
  </div>
</div>
