<%= form_with(model: @image_comment, local: true) do |f| %>

  <%= f.hidden_field :image_id, value: @upload_image.id %>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :commentor_id, value: current_user.id %>

  <%= f.submit "Create image comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
