<%= form_with(model: @image_comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :image_id %>

    <%= f.collection_select :image_id, UploadImage.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :commentor_id, value: @user.id %>

  <%= f.submit "Create image comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
