<%= form_with(model: @bookmark, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :image_id %>

    <%= f.collection_select :image_id, UploadImage.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>

    <%= f.text_field :notes, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
