<div class="card mb-3">
  <h2 class="card-header h4">
    Image Comment #<%= image_comment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Image</dt>
      <dd>
        <% if @image_comment.image.present? %>
          <%= link_to image_comment.image, image_comment.image %>
        <% end %>
      </dd>

      <dt>Comment</dt>
      <dd><%= image_comment.comment %></dd>

      <dt>Commentor</dt>
      <dd>
        <% if @image_comment.commentor.present? %>
          <%= link_to image_comment.commentor, image_comment.commentor %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back image_comment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @image_comment.commentor %>
          <%= link_to edit_image_comment_url(image_comment), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @image_comment.commentor %>
          <%= link_to image_comment, method: :delete, data: { confirm: "Do you really want to delete this image_comment?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(image_comment.updated_at) %> ago
  </div>
</div>
